VITE_SUPABASE_URL="https://kbdhzhixjztfvpibnmuf.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtiZGh6aGl4anp0ZnZwaWJubXVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMDYxNzcsImV4cCI6MjA4OTY4MjE3N30.4puV3D_Pvn554lJeo91IDS7ZRJICSZWYNGa3DFmIgu0"

VITE_APP_NAME="La Rasilla"
VITE_APP_ENV="development"
